:root{
    --main-color: rgba(211, 153, 250, 0.76);
    --icons-color: #9fb9d7;
    --secondary-color: rgba(255, 169, 255, 0.3);
    --background-color: rgba(211, 153, 250, 0.1);
    --standard-margin: 60px;
    --button-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    --button-hover-color: rgba(126, 12, 210, 0.76);
    --heading-font-family: 'EB Garamond', serif;
    --text-font-family: 'Alegreya', serif;
)
}
.navigation-design a{
    font-family: var(--text-font-family);
}
body{
    /*margin: var(--standard-margin);*/
}

.hero{
    background-color: var(--background-color);
    padding: 130px 10px;
}

h1,h2,h3, h4{
    text-align: center;
    margin: 0;
    font-family: var(--heading-font-family);
}
h2{
    font-size: 48px;
    text-align: center;
    margin-top: 50px;
}
h1{
    font-size: 70px;
}
h3{
    font-size: 20px;
    opacity: 0.7;
    margin-top: 20px;
}
.navigation{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.btn-contact-page, .btn-about {
    padding: 20px 15px;
    border: 1px solid darkred;
    border-radius: 20px;
    margin: 25px;
    text-decoration: none;
}

.btn-contact-page{
    background-color: var(--main-color);
    color: white;
    border-color: var(--main-color);
    box-shadow: var(--button-box-shadow);
    font-family: var(--heading-font-family);
    font-size: 19px;
}
.btn-about{
    border-color: var(--main-color);
    color: var(--main-color);
    font-family: var(--heading-font-family);
    font-size: 19px;
}
.meditation-app, .weather-app, .yogurt-app{

    padding: 20px 15px;
    border-radius: 20px;
    text-transform: capitalize;
    text-decoration: none;
    background-color: var(--main-color);
    color: white;
    border-color: var(--main-color);
    box-shadow: var(--button-box-shadow);
    font-family: var(--heading-font-family);
    font-size: 19px;
}
.meditation_app_img, .weather_app_img, .yogurt_app_img{
    max-width: 100%;
    height: auto;

}

a:hover{
    color: var(--button-hover-color);
}
footer .email-link{
    font-size: 22px;
    text-decoration: none;
    color: black;
    font-family: var(--heading-font-family);
}

footer .email-link:hover{
    color: var(--icons-color);
}

footer .social-links a{
    margin: 0 20px;
    color: var(--main-color);
    background-color: var(--background-color);
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}
footer .social-links a:hover{
    background-color: var(--main-color);
    color: white;
}

footer .contact-box{
    background-color: var(--background-color);
    padding: 30px 120px;
    margin:55px 0;
    border-radius: 10px;
}

footer .contact-box p{
    font-family: var(--text-font-family);
    font-size: 16px;
    line-height: 30px;
    margin: 0;
}


footer .contact-box h4{
    font-size: 45px;
}

@media(max-width:900px){
  .hero{
      padding: 80px 20px;
  }
}

.footer{
    font-family: var(--text-font-family);
}
.github-link{
    color: var(--main-color);
}
